@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --success: 152.95 100% 37.84%;
    --success-foreground: 120 9.1% 97.8%;

    --info: 210 84.2% 60.2%;
    --info-foreground: 210 9.1% 97.8%;

    --warning: 45.4 93.39% 47.45%;
    --warning-foreground: 50 9.1% 97.8%;

    --error: 0 84.2% 60.2%;
    --error-foreground: 0 9.1% 97.8%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    /* charts */
    --vis-tooltip-background-color: none !important;
    --vis-tooltip-border-color: none !important;
    --vis-tooltip-text-color: none !important;
    --vis-tooltip-shadow-color: none !important;
    --vis-tooltip-backdrop-filter: none !important;
    --vis-tooltip-padding: none !important;

    --vis-primary-color: var(--primary);
    /* change to any hsl value you want */
    --vis-secondary-color: 160 81% 40%;
    --vis-text-color: var(--muted-foreground);
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    /* Colors for <Button variant="success" /> */
    --success: 152.95 100% 37.84%;
    --success-foreground: 220 14% 96%;

    /* Colors for <Button variant="info" /> */
    --info: 210 84.2% 60.2%;
    --info-foreground: 220 14% 96%;

    /* Colors for <Button variant="warning" /> */
    --warning: 45.4 93.39% 47.45%;
    --warning-foreground: 220 14% 96%;

    /* Colors for <Button variant="error" /> */
    --error: 0 66% 47%; /* Source: Figma | rgb(106, 93, 249) | #6A5DF9 */
    --error-foreground: 220 14% 96%; /* Source: neutral 800 | #F3F4F6 */

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
