@layer base {
  :root {
    --vis-tooltip-background-color: none !important;
    --vis-tooltip-border-color: none !important;
    --vis-tooltip-text-color: none !important;
    --vis-tooltip-shadow-color: none !important;
    --vis-tooltip-backdrop-filter: none !important;
    --vis-tooltip-padding: none !important;

    /* change to any hsl value you want */
    --vis-primary-color: var(--primary);
    --vis-secondary-color: var(--secondary);
    --vis-text-color: var(--muted-foreground);
  }
}
